<html> 
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
          <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="inter.css") }}>
          <script>
              function tabulateAnswers(event) {
    console.log("CLICK", event)
  
  
    // Détermination du type de roche par réponse au questionnaire 
  let cristallized = false  
  let roundholes = false
  let holes = false 
  let schiste= false
  let gneiss= false
  let orientation = false
  
  
  
    if (document.getElementsByName('q1')[0].checked) {
      cristallized = true;
    }
  
    if (document.getElementsByName('q2')[0].checked) {
        roundholes = true;
    }
  
    if (document.getElementsByName('q2')[1].checked) {
        holes = true;
    }
  
    if (document.getElementsByName('q3')[0].checked) {
        schiste = true;
    }
  
    if (document.getElementsByName('q3')[1].checked) {
      gneiss = true;
    }
  
    if (document.getElementsByName('q3')[2].checked) {
      orientation = true;
    }
  
    if (roundholes == true) {
      typeroche = "Roche magmatique volcanique : Basalte";
    } else if (schiste == true) {
      typeroche = "une roche sédimentaire : Schiste"
    }else if (gneiss == true){
      typeroche = "une roche métamorphique : Gneiss"
    }else if(cristallized==true && holes==false && orientation==false){
      typeroche= "une roche magmatique plutonique : Granite"
    }else if(cristallized==true && orientation==true){
      typeroche= "une roche métamorphique : Gneiss"
    }else if (cristallized==true && holes==true &&orientation==false){
        typeroche= "une roche sédimentaire : Gypse"
    }else if(cristallized==true && holes==true && orientation==true){
      typeroche= "une roche métamorphique : Gneiss"
    }else if (orientation==true && holes==true){
      typeroche="une roche sédimentaire : Marne"
    }else if (orientation==true){
      typeroche="une plus probablement une marne (schiste possible)"
    }else if (holes==true && orientation==false){
      typeroche="une roche sédimentaire : grès ou calcaire"
    }else if (holes==false && orientation==false){
      typeroche="probablement une roche sédimentaire : grès ou calcaire, observe mieux, elle comporte probablement quelques porosités"
    }
  
    if (!document.getElementsByName('q1')[0].checked && !document.getElementsByName('q1')[1].checked 
    && !document.getElementsByName('q2')[0].checked && !document.getElementsByName('q2')[1].checked && !document.getElementsByName('q2')[2].checked
    && !document.getElementsByName('q3')[0].checked && !document.getElementsByName('q3')[1].checked && !document.getElementsByName('q3')[2].checked && !document.getElementsByName('q3')[3].checked){
      typeroche = 'non connue'
    }
  
  
  
  // Détermination du type de roche par analyse de photo
    // var photo = document.getElementById('input')
    // roche_algo = algo(photo)
  
  
  
    
  // Affichage des résultats
    if (!(typeroche == 'non connue')){
      document.getElementById("result").textContent = 'D\'après la réponse au questionnaire, la roche est ' 
      document.getElementById("result").textContent += typeroche
      document.getElementById("result").style.fontFamily = "Arial"
      document.getElementById("result").style.fontSize = "18px"
      document.getElementById("result").style.backgroundColor = 'rgb(92, 148, 148)'
      document.getElementById("result").style.borderRadius = '10px'
      document.getElementById("result").style.padding = '10px'
      document.getElementById("result").style.textAlign = "center"
    }
    
    //if (!(roche_algo == 'non connue')){
    // document.getElementById("result").textContent = 'D\'après l\'analyse de votre photo, la roche est ' 
    // document.getElementById("result").textContent += roche_algo 
    // document.getElementById("result").style.fontFamily = "Arial"
    // document.getElementById("result").style.fontSize = "18px"
    // document.getElementById("result").style.backgroundColor = 'rgb(92, 148, 148)'
    // document.getElementById("result").style.borderRadius = '10px'
    // document.getElementById("result").style.padding = '10px'
    // document.getElementById("result").style.textAlign = "center"
    // }
    
  }
  
  //partie sur la recherche de photo
  window.addEventListener("DOMContentLoaded", (event) => {
    var socket = io.connect("http://" + document.domain + ":" + location.port );//ouvrir dans le serveur
  
    button = document.getElementById("button_algo")
    button.onclick = function(){
        console.log('click');
        socket.emit("requete",{"image": avatar});//ça doit etre un dictionnaire
    }
  
    socket.on("reponse",function(data){
        div = document.getElementById("result_algo");
        div.textContent = 'D\'après la réponse de notre algorithme, la roche est ' 
      div.style.fontFamily = "Arial"
      div.style.fontSize = "18px"
      div.style.backgroundColor = 'rgb(92, 148, 148)'
      div.style.borderRadius = '10px'
      div.style.padding = '10px'
      div.style.textAlign = "center"
        div.textContent+=data["premier_pixel"];
    })
  })
          </script>
      </head>
    <body>
      <div class = "container">
        <img class = "cover" 
        src={{ url_for("static", filename="musee.jpg") }}/>


        <div class = "wrapper-1"> 
        <div class= "menu">
            <p id = menu> <span class="fa fa-bars"></span> Menu
                <br>
                <br><a style="text-decoration:none; color:black" href="/i2">
                Présentation du travail </a>
                <br>
                <br><a style="text-decoration:none; color:black" href="/">
                Trouver le type de roche  </a> </p>
            </p>

        </div>

        <div class = "main">
            <p id = questions> Ici on vous explique comment on a construit l'algorithme et à 
                quels types de roches on s'intéresse.
                <br>
                <p><h2>Rockonnaissance</h2></p>

                <p>Rockonnaissance est un algorithme qui vous permet d’identifier une roche. Pour cela, vous devrez répondre à des questions et / ou nous envoyer une photo de votre roche. Rockonnaissance ne peut reconnaitre que les roches de type :
                  <br>  • Basalte
                  <br>  • Calcaire
                  <br>  • Gneiss
                  <br>  • Granite 
                  <br>  • Grès 
                  <br>  • Gypse 
                  <br>  • Schiste
                  </p>
                
                <p><h4>En savoir plus : </h4>
                <h3>Comment l’algorithme a-t-il été construit ?</h3><br>
                L’algorithme utilisé par Rockonnaisance est un algorithme de machine Learning. Grâce à de nombreuses photographies de roches, l’algorithme a extrait des informations propres à chaque roche. Ainsi, lorsqu’il reçoit une nouvelle photographie de roche, il peut maintenant identifier ces caractéristiques et donc reconnaitre de quel type de roche il s’agit. 
                En l’occurrence, l’algorithme utilisé est un réseau neuronal convolutif. Son fonctionnement dépend de nombreux paramètres. Ainsi, de nombreux tests ont été effectué en faisant varier à chaque fois ces paramètres dans le but d’obtenir les meilleurs résultats possibles. Chaque test a pris environ deux heures. Il a notamment fallu être vigilant à ne pas faire de surapprentissage, c’est-à-dire, à ne pas avoir un algorithme fonctionnant très bien sur les données d’entrainement mais ne fonctionnant pas sur de nouvelles photographies. Ces recherches ont finalement abouti à l’algorithme utilisable dans la section « Trouver le type de roche ». 
                <br>
                <h3>Comment la base de données a été construite ?</h3><br>
                La base de données a été créée grâce à des photographies prises dans le musée de Minéralogie des Mines de Paris. Environ 200 photographies y ont été faites et ont ensuite été recadrées. Cependant, cela n’était pas suffisant pour faire fonctionner l’algorithme. Les photographies ont donc été dérivées. Cela signifie que la luminosité, orientation et miroitement ont été modifiés afin de créer de nouvelles photographies. Cependant, un certain type de roche ne présentait toujours pas assez de photographies (marne), il a donc été décidé de le retirer. 
                <br></p>

        </div>
        </div>





        <div class = "wrapper-2"> 
        <div class = "bottom-1">
            <p id = bottom>Ce travail est une collaboration de Pauline Delarue, Inès Fontaine, 
                Amélie Iméror et Chloé Vogel</p> 
                <p id= "bottom"> <i class="fa fa-graduation-cap"></i> Etudiantes à l'école Mines-Paristech <br>
                60 Boulevard Saint-Michel <br>
                75272 Paris <br> </p>

        </div>

        <div class = "bottom-2">
            <p id = bottom>Plusieurs personnes nous ont aidées à réaliser ce site et nous tenons à les remercier:
                <ul>  
                    <li> <p id = bottom>Toute l'équipe d'enseignement informatique </p></li>
                    <li> <p id = bottom>Monsieur Nectoux </p></li>
                    <li> <p id = bottom>Monsieur Gschwind</p></li>
                    <li> <p id = bottom>Monsieur Denoux </p></li>
                    <li> <p id = bottom>L'ensemble du personnel du musée des Mines </p></li>
                </ul>
            </p>
        </div>

        <div class = "bottom-3">
            <p id = bottom>Nos travaux ont été effectué grâce aux sources suivantes: 
                <ul>  
                    <li> <p id = bottom>Centre technique de Matériaux Naturels de Construction
                    <br> <a id = "bottom" style="color:blue" href="http://www.ctmnc.fr/pages/cat_6.php">Site du CTMNC</a> </p></li>
                    <li> <p id = bottom> Le musée des Mines de Paris </li>
                </ul>
            
            </p>
        </div>


        </div>
    </div>
    </body>
</html>